.content{
    margin: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: goldenrod;
    padding: 15% 1% 15% 1%;
    background-image: url("https://cf.shopee.co.id/file/6ad80ffec2b1ea2c5367af7519fecec2");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .in{
    width: 200px;
    height: 50px;
    background-color: aqua;
    color: black;
    padding: 5px;
    margin: 20px;
    font-size: medium;

}

.content .out{
    width: 200px;
    height: 50px;
    background-color:white;
    color: goldenrod;
    padding: 5px;
}